/* Editor */

.cm-editor {
  pre code.hljs {
    @apply p-0 bg-transparent whitespace-pre-wrap;
  }

  h1 {
    @apply text-2xl font-medium py-1;
  }

  h2 {
    @apply text-xl font-medium py-0.5;
  }

  h3 {
    @apply text-base font-medium;
  }

  /* Language features */

  .cm-tooltip-section {
    @apply border-none;
  }

  .signature-label {
    @apply text-slate-100;
  }

  .selected-param {
    @apply text-brand-400 font-semibold;
  }

  .autocomplete-icon {
    @apply mr-1 fill-gray-800;
  }

  .autocomplete-icon.autocomplete-icon-method {
    @apply fill-brand-500;
  }

  .autocomplete-icon.autocomplete-icon-property {
    @apply fill-brand-500;
  }

  /* Hover info and linting info */
  .cm-tooltip-section:not(:first-child) { @apply border-none pt-1;}
  .cm-diagnostic {@apply p-0 border-none block whitespace-pre-wrap; }
  .cm-diagnostic-error {@apply text-[#ce4646] border-none font-normal text-xs leading-5;}
  .cm-diagnostic-warning {@apply text-[orange] border-none font-normal text-xs leading-5;}
  .cm-diagnostic-info {@apply text-[#6d6c6c] border-none font-normal text-xs leading-5;}

  .cm-tooltip-hover {
    @apply whitespace-pre-wrap;
    @apply z-50;
    @apply border border-slate-100 rounded;
    @apply text-xs space-y-1;
    @apply max-w-[400px] max-h-[600px] p-2 overflow-auto;
    @apply bg-slate-600 text-slate-100;
    @apply drop-shadow-lg;
    a {
      @apply text-brand-400;
    }
  }

  /* Signature help */
  .documentation.cm-tooltip {
    @apply whitespace-pre-wrap;
    @apply z-50;
    @apply border border-slate-100 rounded;
    @apply text-xs space-y-1;
    @apply max-w-[400px] max-h-[600px] p-2 overflow-auto;
    @apply bg-slate-600 text-slate-100;
    @apply drop-shadow-lg;
    a {
      @apply text-brand-400;
    }
  }

  .cm-tooltip {
    @apply rounded;
  }

  /* Autocomplete */
  .cm-tooltip-autocomplete {
    @apply z-50;
    @apply border border-slate-100 rounded;
    @apply text-xs space-y-0.5;
    @apply bg-slate-600 text-slate-100;
    @apply drop-shadow-lg;

    .cm-completionInfo {
      @apply whitespace-pre-wrap absolute w-max;
      @apply z-50;
      @apply border border-slate-100 rounded;
      @apply text-xs space-y-0.5;
      @apply max-w-[400px] max-h-[600px] p-2 overflow-auto;
      @apply bg-slate-600 text-slate-100;
      a {
        @apply text-brand-400;
      }
    }

    ul[role=listbox] {
      @apply overflow-hidden;
      @apply autocomplete-scrollbar;

      li[role=option] {
        @apply p-1;
        @apply flex;
        @apply items-center;

        &[aria-selected=true] {
          @apply text-slate-100;
        }
      }
    }

    .cm-completionLabel {
      @apply text-xs;
      @apply font-mono;

      .cm-completionMatchedText {
        @apply text-[#6495ED] font-semibold no-underline;
      }
    }

    .cm-completionDetail {
      @apply text-xs flex justify-end flex-1 text-gray-800/50 not-italic;
    }
  }

  /* .cm-diagnosticAction {font: inherit; border: none; padding: 2px 4px; background-color: #444; color: white; border-radius: 3px; margin-left: 8px;}
  .cm-lintRange {background-position: left bottom; background-repeat: repeat-x;}
  .cm-lintRange-error {background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjMiPgogICAgPHBhdGggZD0ibTAgMyBsMiAtMiBsMSAwIGwyIDIgbDEgMCIgc3Ryb2tlPSIjZDExIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9Ii43Ii8+CiAgPC9zdmc+');}
  .cm-lintRange-warning {background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjMiPgogICAgPHBhdGggZD0ibTAgMyBsMiAtMiBsMSAwIGwyIDIgbDEgMCIgc3Ryb2tlPSJvcmFuZ2UiIGZpbGw9Im5vbmUiIHN0cm9rZS13aWR0aD0iLjciLz4KICA8L3N2Zz4=');}
  .cm-lintRange-info {background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjMiPgogICAgPHBhdGggZD0ibTAgMyBsMiAtMiBsMSAwIGwyIDIgbDEgMCIgc3Ryb2tlPSIjOTk5IiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9Ii43Ii8+CiAgPC9zdmc+');}
  .cm-lintRange-active {background-color: #ffdd9980;}
  .cm-tooltip-lint {padding: 0; margin: 0;}
  .cm-lintPoint:after {content: ""; position: absolute; bottom: 0; left: -2px; border-left: 3px solid transparent; border-right: 3px solid transparent; border-bottom: 4px solid #d11;}
  .cm-lintPoint {position: relative;}
  .cm-lintPoint-warning:after {border-bottom-color: orange;}
  .cm-lintPoint-info:after {border-bottom-color: #999;}

  .cm-tooltip.cm-tooltip-autocomplete > ul > li {cursor: pointer; padding: 1px 1em 1px 3px; line-height: 1.2;}
  .cm-tooltip.cm-tooltip-autocomplete > ul > li[aria-selected] {background: rgb(204, 229, 255);}
  .cm-tooltip.cm-tooltip-autocomplete > ul {font-family: monospace; white-space: nowrap; max-width: 700px; max-width: min(700px, 95vw); max-height: 10em; list-style: none; margin: 0; padding: 0;}
  .cm-completionListIncompleteTop:before,  .cm-completionListIncompleteBottom:after {content: "···"; opacity: 0.5; display: block; text-align: center;}
  .cm-completionInfo.cm-completionInfo-left {right: 100%;}
  .cm-completionInfo.cm-completionInfo-right {left: 100%;} */
}
