@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Override react-toastify vars */
  :root {
    --toastify-color-dark: #313034;
    color-scheme: light dark;
  }

  *,
  *:before,
  *:after {
    @apply box-border;
  }

  ::selection {
    @apply text-gray-600;
    @apply bg-yellow-200/70;
  }

  html,
  body {
    @apply h-full;
    @apply bg-white;
    @apply text-gray-800 antialiased;

    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
      'Helvetica', sans-serif;
    text-rendering: optimizeLegibility;
  }

  #__next {
    @apply flex h-inherit flex-col items-center;
  }

  button {
    @apply focus:outline-yellow-400;
  }

  a {
    @apply focus:outline-yellow-400;
  }

  .scroller {
    scrollbar-color: #f3f4f6 transparent;
    scrollbar-width: thin;
  }  
}

@layer components {
  .bg-green-gradient {
    @apply bg-gradient-to-b;
    @apply from-yellow-100;
    @apply to-yellow-200;
  }

  .cs-output {
    @apply overflow-auto;
    /* Firefox scrollbar styling */
    scrollbar-color: #8f8f8f transparent;
    scrollbar-width: thin;
    height: 120px;
  }

}

img {
  max-width: 100%;
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fbfcfc inset;
  -webkit-text-fill-color: #374151;
  caret-color: #000;
}

.scroller::-webkit-scrollbar {
  /* CUSTOM */
  width: 8px;
  height: 8px;
}

.scroller::-webkit-scrollbar-thumb {
  @apply bg-gray-100;
  @apply rounded;
}

.scroller::-webkit-scrollbar-corner {
  @apply bg-transparent;
}