@tailwind utilities;
@tailwind components;
@tailwind base;

.devbook {
  .cm-editor {
    @apply py-2 min-w-0 flex flex-1 h-full;
  }

  .cm-content {
    @apply text-xs font-mono;
    @apply h-auto;
  }

  .cm-editor .cm-scroller {
    overflow: auto;
  }

  .cm-editor.cm-focused {
    @apply outline-none;
  }

  .cm-gutter.cm-lineNumbers {
    @apply text-right;
    min-width: 36px;
  }
  
  .cm-gutter {
    @apply text-xs font-mono;
    @apply h-auto border-none;
  }

  .cm-foldPlaceholder {
    background-color: transparent;
    border: none;
    color: #ddd;
  }
}

@layer utilities {
  .output-font {
    @apply text-[14px] font-mono whitespace-pre leading-normal
  }
}
