.dbk-code-editor {
  .cm-editor {
    @apply flex h-full min-w-0 flex-1 text-left;
    @apply bg-transparent;

    ::selection {
      @apply text-white-900;
      @apply bg-white-900/70;
    }
  }

  .cm-content {
    @apply font-mono text-xs;
    @apply h-auto;
    @apply text-gray-200;
    @apply caret-gray-500;
  }

  .cm-editor .cm-scroller {
    @apply overflow-auto;
    /* Firefox scrollbar styling */
    scrollbar-color: #8f8f8f transparent;
    scrollbar-width: thin;
  }

  .cm-scroller::-webkit-scrollbar {
    @apply h-[10px] w-[10px];
  }

  .cm-scroller::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  .cm-scroller::-webkit-scrollbar-thumb {
    @apply bg-black-700 pb-16;
  }

  .cm-editor.cm-focused {
    @apply outline-none;
  }

  .cm-editor.cm-focused .cm-cursor {
    @apply border-l-gray-500;
  }

  .cm-editor.cm-focused .cm-selectionBackground,
  .cm-selectionBackground {
    @apply bg-white-900/30 !important;
  }

  .cm-editor .cm-gutters {
    @apply pr-2;
    @apply text-gray-800;
    @apply bg-transparent;
    @apply border-none;
  }

  .cm-gutter {
    @apply font-mono text-xs;
    @apply h-auto border-none;
    @apply bg-black-800;
  }

  .cm-gutter.cm-lineNumbers {
    @apply min-w-[36px];
    @apply text-right;
  }

  .cm-editor .cm-activeLineGutter {
    @apply bg-black-800;
  }

  .cm-editor.cm-focused .cm-activeLineGutter {
    @apply text-gray-400;
  }

  .cm-editor .cm-line.cm-activeLine {
    @apply bg-transparent;
  }

  .cm-foldPlaceholder {
    @apply bg-transparent;
    @apply border-none;
    @apply text-gray-300;
  }

  .cm-content .cm-line,
  .cm-editor .cm-gutters .cm-lineNumbers {
    @apply py-px;
  }

  /* Token styling */
  /* regexp, escape, and special(string) are mapped to "cmt-string2" */
  .cmt-string2 {
    @apply text-[#56b6c2];
  }

  /* special(variableName) to "cmt-variableName2" */
  .cmt-variableName2 {
    @apply text-[#d19a66];
  }

  /* local(variableName) to "cmt-variableName cmt-local" */
  .cmt-variableName .cmt-local {
    @apply text-[#30a];
  }

  /* definition(variableName) to "cmt-variableName cmt-definition" */
  .cmt-variableName .cmt-definition {
    @apply text-[#61afef];
  }

  /* definition(propertyName) to "cmt-propertyName cmt-definition" */
  .cmt-propertyName .cmt-definition {
    @apply text-[#abb2bf];
  }

  .cmt-link {
    @apply underline;
    @apply text-[#7d8799];
  }

  .cmt-heading {
    @apply font-bold underline;
  }

  .cmt-strikethrough {
    @apply line-through;
  }

  .cmt-emphasis {
    @apply italic;
  }

  .cmt-strong {
    @apply font-bold;
  }

  .cmt-keyword {
    @apply text-[#c678dd];
  }

  .cmt-atom {
    @apply text-[#d19a66];
  }

  .cmt-bool {
    @apply text-[#d19a66];
  }

  .cmt-url {
    @apply text-[#56b6c2];
  }

  .cmt-labelName {
    @apply text-[#61afef];
  }

  .cmt-inserted {
    @apply text-[#98c379];
  }

  .cmt-deleted {
    @apply text-[#e06c75];
  }

  .cmt-literal {
    @apply text-[#98c379];
  }

  .cmt-string {
    @apply text-[#98c379];
  }

  .cmt-number {
    @apply text-[#e5c07b];
  }

  .cmt-variableName {
    @apply text-[#d19a66];
  }

  .cmt-typeName {
    @apply text-[#e5c07b];
  }

  .cmt-namespace {
    @apply text-[#e5c07b];
  }

  .cmt-className {
    @apply text-[#e5c07b];
  }

  .cmt-macroName {
    @apply text-[#e06c75];
  }

  .cmt-propertyName {
    @apply text-[#e06c75];
  }

  .cmt-operator {
    @apply text-[#56b6c2];
  }

  .cmt-comment {
    @apply text-[#7d8799];
  }

  .cmt-meta {
    @apply text-[#7d8799];
  }

  .cmt-punctuation {
  }

  .cmt-invalid {
    @apply text-[#ffffff];
  }
}
