@import "./codemirror.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  /* Override react-toastify vars */
  :root {
    --toastify-color-dark: #313034;
    color-scheme: dark;
  }

  *,
  *:before,
  *:after {
    @apply box-border;
  }

  ::selection {
    @apply text-white-900;
    @apply bg-green-500/70;
  }

  html,
  body {
    @apply h-full;
    @apply bg-black-900;
    @apply text-white-900 antialiased;

    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
    text-rendering: optimizeLegibility;
  }

  #__next {
    @apply h-inherit flex flex-col items-center;
  }
}

@layer components {
  .bg-green-gradient {
    @apply bg-gradient-to-b;
    @apply from-green-200;
    @apply to-green-500;
  }
}

img {
  max-width: 100%;
  display: block;
}

.RootMenu.open {
  background: #313034;
}

.Menu {
  background: #313034;
  padding: 4px;
  border: 1px solid #d7dce5;
  border-radius: 6px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  outline: 0;
}

.MenuItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: left;
  line-height: 1.8;
  min-width: 110px;
  margin: 0;
  outline: 0;
}

.MenuItem.open {
  background: #d7dce5;
  background: #313034;

}

.MenuItem:focus,
.MenuItem:not([disabled]):active {
  background: royalblue;
  color: white;
}

.cs-output {
  @apply overflow-auto;
  /* Firefox scrollbar styling */
  scrollbar-color: #8F8F8F transparent;
  scrollbar-width: thin;
}

.cs-output::-webkit-scrollbar {
  @apply h-[10px] w-[10px];
}

.cs-output::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.cs-output::-webkit-scrollbar-thumb {
  @apply bg-black-700;
}