@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *:before,
  *:after {
    @apply box-border;
  }

  html {
    @apply h-full;
  }

  html, body {
    @apply bg-black-900;
    @apply text-white antialiased;
  }

  #__next {
    @apply h-inherit flex flex-col justify-start;
  }
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
