@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *:before,
  *:after {
    @apply box-border;
  }

  html, body {
    @apply h-full;
    @apply bg-black-900;
    @apply text-white-900 antialiased;

    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', sans-serif;
    text-rendering: optimizeLegibility;
  }

  #__next {
    @apply h-inherit flex flex-col items-center;
  }
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
