@import './codemirror.css';
@import './xterm.css';

@tailwind utilities;
@tailwind components;
@tailwind base;

@layer base {

  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
}

/* Something sets the `vertical-align` rule to `middle` for SVG which messes up with Ant Design's icons. */
svg {
  vertical-align: baseline;
}

/* `:after` and `:before` pseudo-elements can't be set via Tailwind. */
label.required:after {
  @apply pl-1;
  content: "*";
}


@layer components {
  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      @apply bg-black-650;

      &:hover {
        @apply bg-black-600;
      }
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: transparent;
    }
  }
}