@import './codemirror.css';

@tailwind utilities;
@tailwind components;
@tailwind base;

@layer base {
  *, ::before, ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }
}
