:root {
  --brand-800: #434190;
  --brand-700: #4C51BF;
  --brand-600: #5A67D8;
  --brand-500: #667EEA;
  --brand-400: #7F9CF5;
  --brand-300: #A3BFFA;
  --brand-200: #C3DAFE;
  --brand-100: #EBF4FF;
}
